@import '../layout/header';
@import '../layout/footer';

.cartInfo {
  margin-bottom: 60px;
  @media (max-width: 767px) {
    margin-bottom: 30px;
  }
}
.cartList {
  width: 68%;
  margin-right: 10px;
  @media (max-width: 767px) {
    width: 100%;
  }
}
.cartPrice {
  width: 35%;
  margin-left: 10px;
  @media (max-width: 767px) {
    width: 100%;
  }
}
.cartPic {
  width: 110px;
  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    @media (max-width: 767px) {
      aspect-ratio: 1/0.68;
    }
  }
  @media (max-width: 767px) {
    width: 100%;
    margin-right: 16px;
  }
}
.cartPart {
  margin-bottom: 20px;
  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}
.buyProduct {
  display: flex;
  @media (max-width: 900px) {
    flex-direction: column;
  }
}
.productNum {
  a,
  p {
    width: 48px;
    aspect-ratio: 1/1;
    min-height: 48px;
  }
  a {
    padding: 14px;
  }
  p {
    line-height: 48px;
  }
}
.cartAmountMB {
  display: none;
  @media (max-width: 767px) {
    display: block;
    display: flex;
  }
}
.amountInfo {
  padding: 16px 18px;
}

.totalPrice {
  @media (max-width: 900px) {
    margin-bottom: 8px;
  }
}
