.logoPC {
  background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg')
    no-repeat center;
  width: 230px;
  height: 40px;
  white-space: nowrap;
  text-indent: 101%;
  overflow: hidden;
}
.logoMB {
  display: none;
  @media (max-width: 767px) {
    display: block;
    background: url('../../../dist/images/logotype-lg-dark.svg') no-repeat
      center;
    width: 170px;
    height: 40px;
    white-space: nowrap;
    text-indent: 101%;
    overflow: hidden;
  }
}
.header {
  .navList {
    li {
      margin-left: 60px;
    }
    :nth-child(4) {
      margin-left: 80px;
    }
    a {
      font-weight: bold;
      color: $primary;
      border-bottom: 2px solid transparent;
      padding: 10px;
      &:hover {
        border-bottom: 2px solid $second;
      }
    }
  }
}
.headerBar {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
  .fa-bars {
    color: $primary;
  }
  .menuList {
    max-height: 0;
    overflow: hidden;
  }
}
.shopMB {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}
.banner {
  max-width: 940px;
  margin: 0 auto;
  background: url('https://bit.ly/2OhbMHr') no-repeat center;
  background-size: cover;
  height: 496px;
  @media (max-width: 768px) {
    height: 300px;
    width: 100%;
  }
}
.item {
  margin: 0 auto;
  max-width: 780px;
  display: flex;
  justify-content: center;
  margin-top: -70px;
  margin-bottom: 80px;
  @media (max-width: 767px) {
    margin-top: 0;
    margin-bottom: 0px;
  }
}
.item1,
.item2,
.item3 {
  width: 33.33%;
  height: 256px;
  background-size: cover;
  @media (max-width: 767px) {
    height: 180px;
  }
}
.item1 {
  background: url('https://bit.ly/2R5tqwD') no-repeat center;
}
.item2 {
  background: url('https://bit.ly/2Dwoxd7') no-repeat center;
}
.item3 {
  background: url('https://bit.ly/2OUteif') no-repeat center;
}
.cover {
  cursor: pointer;
  max-width: 100%;
  height: 100%;
  background-color: $primary;
  opacity: 80%;
  backdrop-filter: blur(5px);
  h2 {
    color: $white;
    font-size: $l;
    line-height: $xl;
    writing-mode: vertical-lr;
    letter-spacing: 2px;
  }
  &:hover {
    background-color: $link-color;
    h2 {
      color: $primary;
      font-weight: bold;
    }
  }
}

.bg-light {
  background-color: $second;
  height: 420px;
}
.mainContent {
  height: 420px;
  background-color: $second;
  padding: 0 30px;
  @media (max-width: 900px) {
    padding: 0 15px;
    height: auto;
  }
  @media (max-width: 767px) {
    padding: 0;
    background-color: $white;
  }
}
.article {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  @media (max-width: 767px) {
    width: 100%;
    flex-direction: column;
  }
}
.articlePic {
  position: relative;
  height: 460px;
  width: 460px;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -20px;
    object-fit: cover;
  }
  @media (max-width: 900px) {
    width: 420px;
    height: 420px;
    img {
      top: 0;
    }
  }
  @media (max-width: 768px) {
    width: 350px;
  }
  @media (max-width: 767px) {
    width: 100%;
    order: 2;
    width: 100%;
    height: 250px;
  }
}
.articleContent {
  display: flex;
  flex-direction: row-reverse;
  height: 280px;
  margin-top: 70px;
  p {
    writing-mode: vertical-rl;
    color: $text-color;
    line-height: 25px;
    &:nth-child(1) {
      margin-left: 24px;
    }
  }
  @media (max-width: 767px) {
    order: 3;
    flex-direction: column;
    padding: 30px;
    background-color: $second;
    height: auto;
    margin-top: 0;
    p {
      margin-top: 0;
      writing-mode: horizontal-tb;
      line-height: 32px;
      &:nth-child(1) {
        margin-left: 0;
      }
    }
  }
}

.articleSlogan {
  position: relative;
  height: 310px;
  width: 90px;
  .PCslogan {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -20px;
    object-fit: contain;
  }
  .MBslogan {
    display: none;
  }
  @media (max-width: 900px) {
    width: 70px;
    height: 280px;
  }
  @media (max-width: 767px) {
    order: 1;
    margin: 30px auto;
    width: 226px;
    height: 70px;
    .PCslogan {
      display: none;
    }
    .MBslogan {
      display: block;
      position: relative;
      top: 0;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

.subject {
  margin: 95px auto 80px auto;
  background: url('https://raw.githubusercontent.com/debbyyeh/2022flex/main/dist/images/lg-%E6%83%B3%E5%90%83%E7%94%9C%E9%BB%9E%E6%98%AF%E4%B8%8D%E9%9C%80%E8%A6%81%E7%90%86%E7%94%B1%E7%9A%84.svg')
    no-repeat center;
  width: 90px;
  height: 330px;
  background-size: cover;
  @media (max-width: 768px) {
    background: url('https://raw.githubusercontent.com/debbyyeh/2022flex/main/dist/images/sm-%E6%A9%AB%E5%BC%8F-%E6%83%B3%E5%90%83%E7%94%9C%E9%BB%9E%E6%98%AF%E4%B8%8D%E9%9C%80%E8%A6%81%E7%90%86%E7%94%B1%E7%9A%84.svg')
      no-repeat center;
    margin: 30px auto;
    width: 226px;
    height: 60px;
  }
}
.productSelect {
  margin-bottom: 60px;
  @media (max-width: 768px) {
    margin-bottom: 30px;
  }
}
.selectList {
  display: flex;
  justify-content: space-between;
  li {
    width: 32%;
  }
  @media (max-width: 767px) {
    flex-wrap: wrap;
    li {
      width: 100%;
      height: auto;
      &:nth-child(2),
      &:nth-child(3) {
        display: none;
      }
    }
  }
}
.selectPic {
  position: relative;
  .selectPic-1,
  .selectPic-2,
  .selectPic-3 {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
.highlights {
  background-color: $primary;
  color: #eaf0ed;
  text-align: center;
  line-height: 20px;
  width: 36px;
  padding: 10px;
  letter-spacing: 1.5px;
  position: absolute;
  top: 0;
  left: 20px;
  @media (max-width: 767px) {
    width: 40px;
  }
}
.like {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.productName {
  text-align: center;
  color: $primary;
}
.itemName {
  width: 60%;
  border-right: 1px solid $second;
  border-left: 1px solid $second;
  padding: 14px;
}
.price {
  width: 40%;
  padding: 14px;
  border-right: 1px solid $second;
  font-weight: bold;
}
.addCart {
  background-color: $second;
  padding: 16px;
  font-weight: bold;
  color: $primary;
  font-weight: bolder;
  &:hover {
    background-color: $primary;
    color: $second;
  }
}
.subscribe {
  background-color: $primary;
  padding: 30px 0px;
}
.subscribeInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}
.accountLogo {
  @media (max-width: 767px) {
    padding-bottom: 30px;
  }
  p {
    font-size: $l;
    line-height: $xl;
    color: $second;
    margin-left: $m;
  }
}
.memberEmail {
  width: 380px;
  @media (max-width: 540px) {
    width: 300px;
  }
}
.textInput {
  width: 80%;
  background: url('../../../dist/images/email_black_24dp.svg') 16px no-repeat;
  background-color: $second;
  padding: 16px 45px;
  font-size: 24px;
}
.emailBtn {
  background-color: $link-color;
  width: 20%;
  a {
    padding: 20px 24px;
  }
  img {
    width: 16px;
    height: 16px;
  }
}
.contact {
  padding-top: 40px;
  padding-bottom: 30px;
}
.contactWay {
  display: flex;
  justify-content: space-between;
  height: 350px;
}
.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 767px) {
    justify-content: space-between;
  }
}
.info {
  margin-bottom: 30px;
  p {
    color: $primary;
    line-height: 24px;
  }
  @media (max-width: 767px) {
    display: none;
  }
}
.infoMobile {
  display: none;
  @media (max-width: 767px) {
    display: block;
    margin-bottom: 40px;
    p {
      color: $primary;
      line-height: 24px;
    }
  }
}
.social {
  :nth-child(1) {
    margin-right: 8px;
  }
  img {
    width: 32px;
    height: 32px;
  }
}
.rightsMobile {
  display: none;
  @media (max-width: 767px) {
    color: $primary;
    display: block;
    margin-top: 24px;
  }
}
.rightsPC {
  color: $primary;
  .PC {
    @media (max-width: 767px) {
      display: none;
    }
  }
}
.footerSlogan {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  img {
    width: 60px;
    margin-left: auto;
    margin-bottom: 50px;
  }
  @media (max-width: 767px) {
    display: none;
  }
}
