@import '../layout/header';
@import '../layout/footer';
// banner
.banner-index {
  background: url('https://bit.ly/2OhbMHr') no-repeat center;
  background-size: cover;
  height: 496px;
  @media (max-width: 768px) {
    height: 300px;
    width: 100%;
  }
}
.item {
  max-width: 780px;
  margin-top: -70px;
  margin-bottom: 80px;
  @media (max-width: 900px) {
    margin-top: -20px;
  }
  @media (max-width: 767px) {
    margin: 0 auto;
  }
}
.item1,
.item2,
.item3 {
  width: 33.33%;
  height: 256px;
  @media (max-width: 767px) {
    height: 180px;
  }
}
.item1 {
  background: url('https://bit.ly/2R5tqwD') no-repeat center;
}
.item2 {
  background: url('https://bit.ly/2Dwoxd7') no-repeat center;
}
.item3 {
  background: url('https://bit.ly/2OUteif') no-repeat center;
}
.cover {
  cursor: pointer;
  max-width: 100%;
  height: 100%;
  background-color: $primary;
  opacity: 80%;
  backdrop-filter: blur(5px);
  h2 {
    writing-mode: vertical-lr;
    letter-spacing: 2px;
  }
  &:hover {
    background-color: $link-color;
    h2 {
      color: $primary;
      font-weight: bold;
    }
  }
}
.mainContent {
  height: 420px;
  @media (max-width: 900px) {
    padding: 0 15px;
    height: auto;
  }
  @media (max-width: 767px) {
    padding: 0;
    background-color: $white;
  }
}
.article {
  @media (max-width: 767px) {
    width: 100%;
    flex-direction: column;
  }
}
.articlePic {
  position: relative;
  height: 460px;
  width: 460px;
  img {
    position: absolute;
    top: -20px;
  }
  @media (max-width: 900px) {
    width: 420px;
    height: 420px;
    img {
      top: 0;
    }
  }
  @media (max-width: 768px) {
    width: 350px;
  }
  @media (max-width: 767px) {
    width: 100%;
    order: 2;
    height: 250px;
  }
}
.articleContent {
  flex-direction: row-reverse;
  height: 280px;
  margin-top: 70px;
  p {
    writing-mode: vertical-rl;
    line-height: 25px;
    &:nth-child(1) {
      margin-left: 24px;
    }
  }
  @media (max-width: 767px) {
    order: 3;
    flex-direction: column;
    padding: 30px;
    background-color: $second;
    height: auto;
    margin-top: 0;
    p {
      margin-top: 0;
      writing-mode: horizontal-tb;
      line-height: 32px;
      &:nth-child(1) {
        margin-left: 0;
      }
    }
  }
}

.articleSlogan {
  position: relative;
  height: 310px;
  width: 90px;
  .PCslogan {
    position: absolute;
    width: 100%;
    height: auto;
    top: -20px;
    object-fit: contain;
  }
  .MBslogan {
    display: none;
  }
  @media (max-width: 900px) {
    width: 70px;
    height: 280px;
  }
  @media (max-width: 767px) {
    order: 1;
    margin: 30px auto;
    width: 226px;
    height: 70px;
    .PCslogan {
      display: none;
    }
    .MBslogan {
      display: block;
      position: relative;
      top: 0;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

.subject {
  margin: 95px auto 80px auto;
  background: url('https://raw.githubusercontent.com/debbyyeh/2022flex/main/dist/images/lg-%E6%83%B3%E5%90%83%E7%94%9C%E9%BB%9E%E6%98%AF%E4%B8%8D%E9%9C%80%E8%A6%81%E7%90%86%E7%94%B1%E7%9A%84.svg')
    no-repeat center;
  width: 90px;
  height: 330px;
  @media (max-width: 768px) {
    background: url('https://raw.githubusercontent.com/debbyyeh/2022flex/main/dist/images/sm-%E6%A9%AB%E5%BC%8F-%E6%83%B3%E5%90%83%E7%94%9C%E9%BB%9E%E6%98%AF%E4%B8%8D%E9%9C%80%E8%A6%81%E7%90%86%E7%94%B1%E7%9A%84.svg')
      no-repeat center;
    margin: 30px auto;
    width: 226px;
    height: 60px;
  }
}
.productSelect {
  margin-bottom: 60px;
  @media (max-width: 768px) {
    margin-bottom: 30px;
  }
}
.selectList {
  li {
    width: 32%;
  }
  @media (max-width: 767px) {
    li {
      width: 100%;
      height: auto;
      &:nth-child(2),
      &:nth-child(3) {
        display: none;
      }
    }
  }
}
.selectPic {
  position: relative;
  .selectPic-1,
  .selectPic-2,
  .selectPic-3 {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
.highlights {
  width: 36px;
  padding: 10px;
  letter-spacing: 1.5px;
  position: absolute;
  top: 0;
  left: 20px;
  @media (max-width: 767px) {
    width: 40px;
  }
}
.like {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.itemName {
  width: 60%;
  border-right: 1px solid $second;
  border-left: 1px solid $second;
  padding: 14px;
}
.price {
  width: 40%;
  padding: 14px;
  border-right: 1px solid $second;
}
.addCart {
  padding: 16px;
  &:hover {
    background-color: $primary;
    color: $second;
  }
}
