@import '../setting/variable';
// login
.loginContent {
  padding: 0 30px;
  margin: 60px auto;
  @media (max-width: 767px) {
    padding: 0;
    margin: 0 auto;
  }
}
.login {
  display: flex;
  align-items: baseline;
  justify-content: center;
  max-width: 780px;
  @media (max-width: 767px) {
    // max-width: 100%;
  }
}
.accountInput,
.inputSocial {
  width: 50%;
  @media (max-width: 767px) {
    width: 100%;
  }
  .MBsocial {
    ul {
      li {
        width: 100%;
        &:nth-child(2) {
          a {
            border-right: 1px solid $second;
            border-left: 1px solid $second;
          }
        }
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 56px;
      }
    }
  }
}
.inputLogin {
  padding: 0 30px 25px 30px;
  h2 {
    padding: 40px 0;
  }
  @media (max-width: 767px) {
    padding: 30px;
  }
}
.formGroup {
  margin-bottom: 16px;
  input {
    background-color: $second;
    width: 100%;
  }
}
.loginAccount {
  background: url('https://raw.githubusercontent.com/debbyyeh/2022flex/main/dist/images/user-solid.svg')
    4%/16px no-repeat;
  min-height: 56px;
  padding-left: 45px;
}
.loginPassword {
  background: url('https://raw.githubusercontent.com/debbyyeh/2022flex/main/dist/images/vpn_key_FILL0_wght400_GRAD0_opsz48.svg')
    4%/16px no-repeat;
  min-height: 56px;
  padding-left: 45px;
}
.checkGroup {
  display: flex;
  align-items: center;
  input {
    color: $second;
    line-height: 36px;
  }
}
.enterBtn {
  width: 100%;
  a {
    min-height: 65px;
    padding: 20px;
  }
}
.inputSocial {
  padding: 40px 30px;
  h3 {
    margin-bottom: 36px;
  }
  li {
    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 16px;
    }
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 56px;
  }
  .facebook {
    width: 38%;
    aspect-ratio: 1/0.19;
    @media (max-width: 767px) {
      width: 40%;
    }
    @media (max-width: 576px) {
      width: 60%;
    }
  }
  .google {
    width: 33%;
    aspect-ratio: 1/0.33;
    @media (max-width: 767px) {
      width: 60%;
    }
    @media (max-width: 576px) {
      width: 80%;
    }
  }
  .yahoo {
    width: 30%;
    aspect-ratio: 1/0.23;
    @media (max-width: 767px) {
      width: 60%;
    }
    @media (max-width: 576px) {
      width: 80%;
    }
  }
}
