@import '../layout/header';
@import '../layout/footer';

// login
.login {
  margin: 60px auto;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 0 30px;
  @media (max-width: 767px) {
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
  }
}
.accountInput,
.inputSocial {
  width: 50%;
  @media (max-width: 767px) {
    width: 100%;
  }
  > h2 {
    display: none;
    @media (max-width: 767px) {
      display: block;
      background-color: $primary;
      font-size: $xxxl;
      line-height: $xxxl;
      color: $second;
      text-align: center;
      padding: 30px 0;
    }
  }
  .MBsocial {
    display: none;
    @media (max-width: 767px) {
      display: block;
      background-color: $second;
      padding: 30px;
    }
    ul {
      display: flex;
      justify-content: center;
      li {
        background-color: $white;
        width: 100%;
        &:nth-child(2) {
          a {
            border-right: 1px solid $second;
            border-left: 1px solid $second;
          }
        }
      }
      a {
        padding: 20px 13px;
      }
      img {
        width: 80px;
        height: 40px;
        margin: 0 auto;
        object-fit: contain;
      }
    }
  }
}
.inputLogin {
  background-color: $primary;
  padding: 0 30px 25px 30px;
  h2 {
    font-size: $xxxl;
    line-height: $xxxl;
    color: $second;
    text-align: center;
    padding: 40px 0;
  }
  @media (max-width: 767px) {
    padding: 30px;
  }
}

.formGroup {
  margin-bottom: 16px;
  input {
    background-color: $second;
    width: 100%;
    line-height: 20px;
    font-size: 16px;
  }
}
.loginAccount {
  background: url('https://raw.githubusercontent.com/debbyyeh/2022flex/main/dist/images/user-solid.svg')
    4%/16px no-repeat;
  padding: 16px 45px;
  color: $primary;
}
.loginPassword {
  background: url('https://raw.githubusercontent.com/debbyyeh/2022flex/main/dist/images/vpn_key_FILL0_wght400_GRAD0_opsz48.svg')
    4%/16px no-repeat;
  padding: 16px 45px;
  color: $primary;
}
.checkGroup {
  display: flex;
  align-items: center;
  input {
    color: $second;
    line-height: 36px;
  }
}
.enterBtn {
  background-color: $link-color;
  width: 100%;
  a {
    color: $primary;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
  }
}
.inputSocial {
  padding: 40px 30px;
  background-color: $second;
  h3 {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    color: $text-color;
    margin-bottom: 36px;
  }
  li {
    background-color: $white;
    // height: 56px;
    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 16px;
    }
  }
  a {
    padding: 18px;
    img {
      margin: 0 auto;
      width: 110px;
      height: 20px;
    }
  }
  @media (max-width: 767px) {
    display: none;
  }
}
