@import '../setting/variable';

.payment-layout {
  margin: 30px auto 65px auto;
  @media (max-width: 767px) {
    margin: 0;
  }
}
.progressInfo {
  padding: 30px 40px;
}
.order,
.orderList {
  padding: 16px 20px;
  border: 1px solid $second;
}
.orderList {
  img {
    width: 120px;
    aspect-ratio: 1/0.67;
    object-fit: cover;
  }
}
.orderForm {
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 8px;
    color: $second;
    font-size: 20px;
  }
  input {
    color: $primary;
    padding-left: 20px;
  }
}
select {
  padding: 20px;
  background: url('https://upload.cc/i1/2022/05/22/BC2WVw.png') no-repeat center;
  background-position: 90% center;
}

// progressBar
.bar {
  display: flex;
  width: 180px;
  li {
    width: 33.3%;
    position: relative;
    text-align: center;
    &:first-child:after {
      content: none;
    }
  }
}
.bar {
  li:before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    border: 1px solid $text-color;
    border-radius: 50%;
    background-color: $primary;
    margin-left: auto;
    position: relative;
    z-index: 1;
  }
  li:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: $text-color;
    position: absolute;
    top: 10px;
    left: 0px;
  }
}
.barStep:before {
  content: '';
  width: 14px;
  height: 14px;
  border: 1px solid $second;
  background-color: $second;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 43px;
  z-index: 1;
}
