@import '../layout/header';
@import '../layout/footer';

.banner-product {
  max-width: 940px;
  margin: 0 auto;
  background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/banner.png')
    no-repeat center;
  background-size: cover;
  height: 496px;
  margin-bottom: 60px;
  @media (max-width: 767px) {
    width: 100%;
    height: 280px;
    margin-bottom: 0;
  }
}
.product {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: 767px) {
    padding: 0;
  }
}
.productList {
  width: 30%;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  @media (max-width: 767px) {
    width: 100%;
  }
  h2 {
    background-color: $primary;
    padding: 16px 0;
    color: $second;
  }
  a {
    border-bottom: 1px solid $second;
    border-right: 1px solid $second;
    border-left: 1px solid $second;
    color: $primary;
    padding: 16px 0;
    &:hover {
      background-color: $primary;
      color: $second;
    }
  }
}
.allLists {
  background-color: $second;
}
.productContent {
  width: 65%;
  @media (max-width: 767px) {
    width: 100%;
    padding: 0 30px;
  }
}
.contentList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  li {
    width: 48%;
    margin-bottom: 20px;
    @media (max-width: 767px) {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
.productPic {
  position: relative;
}
.highlights {
  background-color: $primary;
  color: $second;
  width: 36px;
  padding: 10px;
  letter-spacing: 1.5px;
  top: 0;
  left: 20px;
  position: absolute;
}
.like {
  position: absolute;
  top: 20px;
  right: 20px;
}
.product-1,
.product-2,
.product-3,
.product-4,
.product-5,
.product-6 {
  img {
    width: 100%;
    height: auto;
  }
}
.productName {
  text-align: center;
}
.itemName {
  width: 60%;
  border-right: 1px solid $second;
  border-left: 1px solid $second;
  padding: 14px;
}
.price {
  width: 40%;
  padding: 14px;
  border-right: 1px solid $second;
}
.addCart {
  background-color: $second;
  color: $primary;
  padding: 16px;
  &:hover {
    background-color: $primary;
    color: $second;
  }
}
//pagniation
.pagniation {
  width: 30%;
  margin-left: auto;
  @media (max-width: 767px) {
    width: 100%;
    margin: 30px auto;
  }
}
.pageButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-bottom: 60px;
  li {
    width: 20%;
  }
  a {
    text-align: center;
    padding: 18px;
    border: 1px solid $second;
    color: $primary;
  }
}
