body {
  font-family: 'Noto Sans', 'Roboto', sans-serif;
  img {
    display: block;
    max-width: 100%;
  }
  a {
    display: block;
    text-decoration: none;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  label {
    display: block;
  }
  input {
    padding: 0;
  }
  input,
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-radius: 0;
    border: none;
    background-color: $second;
    font-size: 16px;
    line-height: 1.25;
    min-height: 56px;
    width: 100%;
    &::-webkit-input-placeholder {
      color: $text-color;
    }
    &:focus {
      outline: none;
    }
  }
  button {
    -moz-appearance: none;
    outline: none;
    border-radius: 0;
    border: none;
    &:focus {
      outline: none;
    }
  }
}
