// 距離
.pt-30 {
  padding-top: 30px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-20 {
  padding-bottom: 20px;
}

// color
.primary {
  color: #3f5d45;
}
.second {
  color: #eaf0ed;
}

// 排版
.d-flex {
  display: flex;
}
.jcsb {
  justify-content: space-between;
}
.alc {
  align-items: center;
}
