.primary {
  color: #3f5d45;
}
.second {
  color: #eaf0ed;
}
// 4px為一單位
.mr-20 {
  margin-right: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mb-60 {
  margin-bottom: 60px;
}

// flex
.d-flex {
  display: flex;
}
.jcsb {
  justify-content: space-between;
}
.alc {
  align-items: center;
}
