.container {
  max-width: $container-s;
  padding: 0 30px;
  margin: 0 auto;
}

// 距離
.mb-24 {
  margin-bottom: 24px;
}
.mb-105 {
  margin-bottom: 105px;
}
.pt-30 {
  padding-top: 30px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-20 {
  padding-bottom: 20px;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

// 排版
.d-flex {
  display: flex;
}
.jcc {
  justify-content: center;
}
.jcsb {
  justify-content: space-between;
}
.alc {
  align-items: center;
}

// 背景顏色
.bg-dark {
  background-color: $primary;
}
.bg-light {
  background-color: $second;
}

// RWD
.d-mb-none {
  @media (max-width: 767px) {
    display: none;
  }
}
.fas {
  color: $primary;
}
