.container {
  max-width: 940px;
}

.col-md-6 {
  width: 55%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .col-md-4 {
    width: 35%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
    padding: 0;
  }
}